{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-danger">THỐNG KÊ - BÁO CÁO</h1>
<form method="POST" action="{{ url_for('nhapdiem') }}">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="schoolYear">Năm học</label>
            <select id="schoolYear" class="form-control" name="school_year_id">
                <option value="">Chọn năm học</option>
                {% for i in namhoc %}
                <option value="{{ i.id }}">{{ i.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="semester">Học kỳ</label>
            <select id="semester" class="form-control" name="semester_id">
                <option value="">Chọn học kỳ</option>
                {% for i in hk %}
                <option value="{{ i.id }}">{{ i.semester_type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="subject">Môn học</label>
            <select id="subject" class="form-control" name="subject_id">
                <option value="">Chọn môn học</option>
                {% for i in mh %}
                <option value="{{ i.id }}">{{ i.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>
<br>
<div class="row">
    <div class="col-md-12 col-12">

        <table class="table">
            <tr>
                <th>Id</th>
                <th>Tên lớp</th>
                <th>Sĩ số</th>
                <th>Số lượng đạt</th>
                <th>Tỷ lệ</th>

            </tr>
            {% for s in lops %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </table>

    </div>
    <div class="col-md-12 col-12">
        <canvas id="myChart"></canvas>
    </div>
</div>

    <div class="col-md-5 col-12">

        <table class="table">
            <tr>

                <th>Thời gian</th>
                <th>Doanh thu</th>
            </tr>
            {% for s in stats2 %}
            <tr>
                <td>{{ s[0] }}</td>

                <td>{{ s[1] }} VNĐ</td>
            </tr>
            {% endfor %}
        </table>

    </div>
    <div class="col-md-7 col-12">
        <canvas id="myChart2"></canvas>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function draw(ctx, data, labels) {
        new Chart(ctx, {
            type: 'bar',
            data: {
              labels: labels,
              datasets: [{
                label: '# Doanh thu',
                data: data,
                borderWidth: 1,
                backgroundColor: ['red', 'green', 'blue', 'gold', 'brown', 'orange']
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
    }

    let data = [];
    let labels = [];

    {% for s in lops %}
    data.push({{ s[2] }});
    labels.push('{{ s[1] }}')
    {% endfor %}




    window.onload = function() {
          const ctx = document.getElementById('myChart');
          draw(ctx, data, labels);

    }

</script>
{% endblock %}